# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js Build Output
.next/
out/
build/

# Environment Variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db